# Machine Learning Project Template
* This notebook provides a structured template for building an end-to-end machine learning project.
* Re-use this notebook througout your learning and in capstone project

## <b> <font color=green> STEP (1) Problem Definition, Scoping & Framing </font> </b>

### 1.1) Load Libraries
Import all necessary libraries for the project.

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: python-dateutil>=2.7 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: packaging>=20.0 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=6.2.0 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: numpy<2,>=1.20 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: cycler>=0.10 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: six>=1.5 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.20.2)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/rawnaqalharthy/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.utils.class_weight import compute_class_weight
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.feature_extraction.text import CountVectorizer

ModuleNotFoundError: No module named 'matplotlib'

### 1.2) Load The Dataset
Load the dataset and display the first few rows.

In [13]:
df = pd.read_csv('SAP-4000.csv')
df.head()

,Gender,HoursStudied/Week,Tutoring,Region,Attendance(%),Parent Education,Exam_Score
0,Male,5.5,No,Urban,72.7,Tertiary,43.5
1,Female,6.8,No,Urban,62.0,Primary,51.7
2,Female,9.7,No,Rural,95.0,Secondary,70.1
3,Male,13.3,Yes,Rural,52.9,NaN,79.5
4,Female,8.9,No,Urban,50.8,NaN,52.2

## <b> <font color=green> STEP (2) Data Exploration & Understanding </font> </b>

### 2.1) Descriptive Statistics
Generate summary statistics for the dataset.

In [14]:
df.describe()

       HoursStudied/Week  Attendance(%)   Exam_Score
count        4000.000000    4000.000000  4000.000000
mean            9.861025      75.224150    71.107775
std             3.713801      14.496906    16.748950
min             0.000000      50.000000    16.600000
25%             7.400000      62.600000    59.300000
50%             9.900000      75.600000    71.550000
75%            12.600000      87.700000    83.500000
max            16.000000     100.000000   100.000000

### 2.2) Data Visualizations
Visualize the data to identify patterns and relationships.

## <b> <font color=green> STEP (3) Data Preparation & Feature Engineering </font> </b>

### 3.1) Data Cleaning
Handle missing values and outliers.

### 3.1) Feature Selection
Select the most relevant features for the model.

### 3.2) Data Transforms
Apply transformations to prepare the data for modeling.

## <b> <font color=green> STEP (4)  ML Model Selection & Evaluation </font> </b>

### 4.1) Split-out Validation Dataset
Split the dataset into training and validation sets.

### 4.2) Test Options and Evaluation Metric
Define the evaluation metric for the model.

### 4.3) Spot Check Algorithms
Test multiple algorithms to identify the best-performing one.

## <b> <font color=green> STEP (4)  Performance Tuning & Optimization </font> </b>

### 4.1) Algorithm Tuning
Optimize hyperparameters for better performance.

### 4.2) Ensembles
Combine multiple models to improve accuracy.

## <b> <font color=green> STEP (6) Results Interpretation & Deployment </font> </b>

### 6.1) Predictions on Validation Dataset
Make predictions using the validation dataset.

### 6.2) Create Standalone Model on Entire Training Dataset
Train the final model on the entire dataset.

### 6.3) Save Model for Later Use
Save the trained model to a file.